.html {
	float: middle;
	align-content: center;
}

.body {
	align-content: center;
	position: absolute;
	margin: auto;
	padding: 10px;
	max-width: 500px;
	float: middle;
}

.bottomline {
	bottom: 0px;
	position: absolute;
	align-content: center;
	width: 100%;
	height: 30px;
}

.footer {
	bottom: 35px;
	position: absolute;
}

.content {
	float: middle;
	align-self: center;
	margin: auto;
	max-width: 500px;
}

.bottomlinetext {
	float: middle;
	position: absolute;
}